

        
        
        .cercle {
            position: absolute;
            opacity: 0.8;

            border-radius: 50%;
            background: linear-gradient(90deg, rgb(25, 46, 95) 30%, rgb(171, 187, 213) 90%);
            
            transform-origin: center;
            animation: expansion 1.8s , flotter 5s ease-in-out infinite;
        }
       
       
        .c1 {
            width: 40px;
            height: 40px;
            top: 10%;
            left: 50%;
            transform: rotate(90deg);
            transform-origin: center;
        }

        .c2 {
            width: 60px;
            height: 60px;
            top: 10%;
            left: 15%;
             transform: rotate(80deg);
        }

        .c3 {
            width: 30px;
            height: 30px;
            top: 50%;
            left: 90%;
            transform: rotate(180deg);
        }

        .c4 {
            width: 50px;
            height: 50px;
            top: 25%;
            left: 32%;
            transform: rotate(80deg);
            transform-origin: center;
        }

        .c5 {
            width: 70px;
            height: 70px;
            top: 8%;
            left: 80%;
            transform: rotate(110deg);
            transform-origin: center;
        }

        .c8 {
            width: 30px;
            height: 30px;
            top: 55%;
            left: 15%;
             transform: rotate(110deg);
            transform-origin: center;
        }

        .c7 {
            width: 20px;
            height: 20px;
            top: 75%;
            left: 5%;
        }

        .c6 {
            width: 15px;
            height: 15px;
            top: 80%;
            left: 65%;
        }

        h1 {
            letter-spacing: 5px;
            font-weight: 500;
            font-size: 70px;
            color: white;
            margin-bottom: 0;
        }

        .text {
            margin: auto;
            text-align: center;
        }

        h3 {
            letter-spacing: 1px;
            font-weight: 300;
            font-size: 30px;
            color: white;
            margin-top: 5px;
        }

        p {
            color: white;
            margin-top: 0;
        }

        @keyframes flotter {
            0% {
                transform: translateY(0);

            }

            50% {
                transform: translateY(-20px);

            }

            100% {
                transform: translateY(0);
            }
        }

        @keyframes expansion {
            from {
                top: 50%;
                left: 50%;
                
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

       

       