#projet{
    height: 100vh;
    position:relative;
}


.slide1{
    width: 20%;
    height: 50vh;
    background-color: rgba(73, 73, 170, 0.482);
    position: absolute;
    left: 3%;
    top: 30%;
    
}
.slide2{
    width: 30%;
    height: 50vh;
    background-color: rgba(73, 73, 170, 0.482);
    position: absolute;
    left: 25%;
    top: 30%;
    
}
.slide3{
    width: 20%;
    height: 50vh;
    background-color: rgba(73, 73, 170, 0.482);
    position: absolute;
    left: 57%;
    top: 30%;
    transform: rotateY('45');
}